.detail {
  border: blue;
  border-radius: 10px;
  height: 400px;
  min-width: 400px;
  align-items: center;
  text-align: start;
  background-color: inherit;
  padding: 5px auto;
}
.info-title {
  flex: 1;
  font-weight: bolder;
  padding-left: 10px;
  border-top-left-radius: 10px;
}
.info-value {
  flex: 3;
  padding-left: 10px;
}