.nav-container {
    height: 50px;
    background-color: dodgerblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

#logo {
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 20px;
    color: coral;
}

ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    font-size: 1.5em;
}

li {
    text-transform: capitalize;
    text-decoration: none;
    color: beige;
    margin: 0 20px;
    cursor: pointer;
}
li:hover {
    color: lightslategrey;
}