<div class = "header">Pokemons</div>
<form action="">
    <input [(ngModel)]="searchText" class="search" type="text"  name='search' placeholder="Search ... " >
</form>

<div class='container'>
        <div *ngFor="let p of pokemons | filterPokemon : searchText ">
            <div *ngIf= "p">
                <div class="card" [routerLink]="['/pokemon', p.id]">
                    <div class="card-header">
                      <h3>{{p.name}}</h3>
                      <h3>{{p.id}}</h3>
                    </div>
                    <img (mouseenter)="openDialog(p.id)" src = {{p.sprites.front_default}} alt="image">
                </div>
            </div>
        </div>
</div>
