<form class="searchBox" action="">
    <input [(ngModel)]="searchText" class="search" type="text"  name='search' placeholder="Search ... " >
</form>

<div class='container'>
        <div *ngFor="let p of pokemons | filterPokemon : searchText ">
            <div *ngIf= "p">
                <div class="card" [routerLink]="['/pokemon', p.id]">
                    <h1>{{p.name}}</h1>
                    <h3>{{p.id}}</h3>
                    <img (mouseenter)="openDialog(p.id)" src = {{p.sprites.front_default}}>
                </div>
            </div>
        </div>   
</div>

