.header{
  display: flex;
  background-color:rgb(9, 111, 231);
  color: beige;
  height:50px;
  font-weight: bolder;
  min-width:  500px;
  justify-content:space-between;
  align-items: center;
  padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    min-width: 200px;
    height: 200px;
    background-color:rgb(95, 210, 241);
    border-radius: 10px;
    margin: 2px;
    padding: 0 auto;
    text-align: center;
}
.card-header {
  display: flex;
  justify-content: space-around;
  
}
.image {
  display: inline-flex;
}
